<h1><%= @article.title %></h1>

<p class="article-body"><%= @article.body %></p>

<ul class="show-links">
  <li><%= link_to "🧀 Edit Cheese 🧀", edit_article_path(@article) %></li>
  <li><%= link_to "🧀 Destroy Cheese 🧀", article_path(@article), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>


<div class='comment-header'>
  <h2>Comments</h2>
  <%= render @article.comments %>

  <h2>Add a comment:</h2>
  <%= render 'comments/form' %>
</div>