<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="header">
      <%= link_to "🧀 Home 🧀", root_path %>
      <%= link_to "🧀 New Cheese Article 🧀", new_article_path %>
    </div>
    <%= yield %>
    <div class="footer">
      <a href="https://github.com/mikerachman1">Made by Mike Rachman</a>
    </div>
  </body>
</html>
